<h1>
  Additional education
</h1>
<h2>
  June-August 2018<br><br>
  Video courses “CyberBionic Systematics”:<br>
  “HTML+CSS”<br>
“JavaScript essential”<br>
“JavaScript Advanced”
</h2>
<h1>
  National Technical University of Ukraine "Kyiv
Polytechnic Institute"
</h1>
<h2>
  2008-2012<br><br>
  Faculty of Electronics<br>
  Department of Industrial Electronics<br>
  Bachelor's degree in specialty "Electronic systems"
</h2>
<h2>
  2012-2014<br><br>
  Faculty of Electronics<br>
  Department of Industrial Electronics<br>
  Master's degree in specialty "Electronic systems"
</h2>
<h2>
  2016-2018<br><br>
  Faculty of Aero-Cosmic Systems<br>
  Department of Avionics<br>
  Ph.D. degree in specialty "Control systems of aircraft and air complexes"<br>
   -Not finished due to faculty closing.
</h2>
