<h2>
  &nbsp; &nbsp; &nbsp; &nbsp; Hello! My name is Dmytro Herasimenko and i live in Kyiv. I was born 29.10.1991. After university i work as a private entepreneur to this day.
  My speciality was electronics and power supplies. But somewhere around 1 year ago i decided that i want to became JS developer. I downloaded video courses and started learning.
  To test my skills i began to write a game "Tanks" based on "Battle City" game. Due to my main work i don't had plenty of time to study, so after a year i decided that i must show what I've got and find a job as Junior\Trainee JavaScript Developer.
  <br>
  &nbsp; &nbsp; &nbsp; &nbsp; I know that in good team i will be learning much faster than by myself and in a year or two I can became Middle-level Developer. I love to work with good team, 
  not only in office but after that too. I can easy communicate with different people and make my job done in time.
  <br>
  &nbsp; &nbsp; &nbsp; &nbsp; As for my hobbies - i like fantasy books, movies, series. I play some computer games (not that much in this days). I love to cook so my friends can taste delicious dishes or cakes on holidays.
  I like to play table tennis and a lot of board games.
</h2>