<h1>
<img src="assets/img/67347.svg" width="25px" height="25px" style="filter: invert(100%)"> Ukraine. Kyiv.
</h1>
<h1>
  <img src="assets/img/phone.png" width="35px" height="35px" style="filter: invert(100%) ; vertical-align: bottom"> +38(063)650-32-20
</h1>
<h1>
  <img src="assets/img/email.png" width="35px" height="35px" style="filter: invert(100%) ; vertical-align: bottom"> <img src="/assets/img/skype.png" width="35px" height="35px" style=" vertical-align: bottom"> gerasimenko.dmytriy@gmail.com
</h1>
<h1>
  <img src="assets/img/git.png" width="35px" height="35px" style="filter: invert(100%) ; vertical-align: bottom"> https://github.com/Nuc1earDragon
</h1>