<h1>
  JavaScript
</h1>
<h3>
  The main language I decided to work with. On this site you can find my project "Tanks", that I write using JavaScript.
</h3>
<h1>
  HTML
</h1>
<h1>
  CSS
</h1>
<h3>
  This is basic things you need to know to create applications or sites, so I have an idea how HTML\CSS works. Not very deep understanding but enough to create a site or an application.
</h3>
<h1>
  GitHub
</h1>
<h3>
  I have GitHub account, know basic commands such as creating of branch, merge it with master branch etc.
</h3>
<h1>
  Visual Studio Code
</h1>
<h3>
  I learn and work in Visual Studio Code. All my projects were written in it.
</h3>
<h1>
  Angular
</h1>
<h3>
  Ended tutorial guide on Angular.io. And this site written on Angular.
</h3>